.u-button-reset {
  background: transparent;
  border: 0;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 0;
  text-align: inherit;
}

.u-list-reset {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.menu-icon__line {
  background-color: #444;
  height: 2px;
  margin: 8px auto;
  transition: all 260ms ease-in-out;
  width: 42px;
}

/* When the menu is open (aria-expanded=true), the menu becomes an X  */
[aria-expanded=true] .menu-icon__line:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}
[aria-expanded=true] .menu-icon__line:nth-child(2) {
  opacity: 0;
}
[aria-expanded=true] .menu-icon__line:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}
media (max-width: 599px) {
   /* If the JavaScript doesn't load, this hides the button */
  .site-nav > button:not([aria-expanded]) {
    display: none;
  }
  /* Don't show the menu (the UL element) when aria-expanded attribute is set to false */
  /* This attribute is toggled by the code in menu.js */
  .site-nav > button[aria-expanded=false] + ul {
    display: none;
  }
}

/* When the browser width is 600px or more, don't show the menu button */
@media (min-width: 600px) {
  .site-nav > button {
    display: none;
  }
}



